@page
@model BlazorServerApp.Pages.ApiModel

<div class="parent-element d-flex justify-content-center align-items-center vh-60">
    <div class="child-element">
        <div class="sentence">
            <p>
                <a href="playgame">Start The Game</a>
            </p>
        </div>
    </div>
</div>