@page "/api2"
@inherits Api2Base

@if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}

<EditForm Model="inputLetters" OnValidSubmit="CheckExample">

    <div class="form-group">
        <label for="name">Поле-помощник</label>
        <input id="name"@ref="@invisibleInput">
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Check</button>
</EditForm>

<br/>
@result
<br/>
@Answer
<br/>

<div class="zzz" style="font-size: 2.5rem">
    @{
        var counter = 0;

        @for (var j = 0; j < SentenceList.Count; j++)
        {
            @SentenceList[j]

            if (j < AnswerList.Count)
            {
                <text>&nbsp;</text>
                @foreach (var i in Enumerable.Range(0, AnswerList[j].Length))
                {
                    var local = counter + i;
                    <input type="text"
                           class="xxx"
                           maxlength="1"
                           display="inline-block"
                           max-width="1ch"
                           @bind="inputLetters[local]"
                           @ref="inputRefs[local]"
                           @onkeydown="e => { HandleKeyDown(local, e); }"
                           @oninput="e => { HandleInput(local, e); }"
                           @onfocusin="() => HandleFocusIn(local)">
                }
                counter += AnswerList[j].Length;
            }
        }
    }
</div>